:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.photo {
  border-radius: 20px;
  margin-top: 100px;
}
h1 {
  margin-top: 100px;
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}
h2 {
  margin-top: 30px;
  font-family: var(--default-font-family);
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
}
p {
  margin-top: 30px;
  font-size: 16px;
  font-family: var(--default-font-family);
}
.btn {
  margin-top: 30px;
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }
  h1 {
    margin-top: 10px;
    font-size: 64px;
    line-height: 2;
  }
  h2 {
    margin-top: 10px;
    font-size: 18px;
  }
  img {
    width: 100%;
  }
}

.logo {
  max-height: 40px;
  margin-top: 50px;
}
nav li {
  line-height: 42px;
  list-style: none;
  display: inline;
  margin-left: 15px;
}
nav li.active a {
  color: var(--branding-color);
}
nav a {
  text-decoration: none;
  color: #66627b;
}
nav a :hover {
  color: var(--branding-color);
}
.head {
  text-align: end;
  margin-top: -40px;
}
