:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.page {
  background: var(--secondary-color);
  text-align: center;
  padding-top: 300px;
  padding-bottom: 200px;
  margin-top: -50px;
  margin-bottom: 80px;
}
.page h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}
.page h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.page h3 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  margin-top: -50px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
}
h4 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  margin-top: 100px;
}
p2 {
  font-size: 16px;
}
.hero p {
  text-align: center;
}
p {
  font-family: var(--default-font-family);
  line-height: 30px;
}
.btn-branding-outline {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  border-color: var(--branding-color);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.container {
  margin-bottom: 100px;
}
.photo {
  border-radius: 20px;
}
.logo {
  max-height: 40px;
  margin-top: 50px;
}
nav li {
  line-height: 42px;
  list-style: none;
  display: inline;
  margin-left: 15px;
}
nav li.active a {
  color: var(--branding-color);
}
nav a {
  text-decoration: none;
  color: #66627b;
}
nav a :hover {
  color: var(--branding-color);
}
.head {
  text-align: end;
  margin-top: -40px;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  font-family: var(--default-font-family);
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
.contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
  margin-left: 72px;
  margin-right: 213px;
}
footer .contact-box p {
  margin: 0;
}
footer .contact-box h4 {
  margin-top: 50px;
}
.btn-branding-new {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 25px;
  margin-top: 50px;
}
