:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.page {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.page h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}
.page h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.page h3 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
}
h4 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}
p2 {
  font-size: 16px;
}
p {
  text-align: center;
  font-family: var(--default-font-family);
}
.btn-branding-outline {
  color: var(--branding-color);
  font-family: var(--default-font-family);
  font-size: 16px;
  border-color: var(--branding-color);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
}
