:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 80px;
  margin-bottom: 80px;
}
h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
h4 {
  font-size: 14px;
  font-family: var(--default-font-family);
  text-align: center;
  margin-bottom: 40px;
}
img {
  border-radius: 20px;
}
.logo {
  max-height: 40px;
  margin-top: 50px;
}
nav li {
  line-height: 42px;
  list-style: none;
  display: inline;
  margin-left: 15px;
}
nav li.active a {
  color: var(--branding-color);
}
nav a {
  text-decoration: none;
  color: #66627b;
}
nav a :hover {
  color: var(--branding-color);
}
.head {
  text-align: end;
  margin-top: -40px;
}
