:root {
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f9f7fe;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 80px;
  margin-bottom: 80px;
}
h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
h4 {
  font-size: 14px;
  font-family: var(--default-font-family);
  text-align: center;
  margin-bottom: 40px;
}
img {
  border-radius: 20px;
}
.logo {
  max-height: 40px;
  margin-top: 50px;
}
nav li {
  line-height: 42px;
  list-style: none;
  display: inline;
  margin-left: 15px;
}
nav li.active a {
  color: var(--branding-color);
}
nav a {
  text-decoration: none;
  color: #66627b;
}
nav a :hover {
  color: var(--branding-color);
}
.head {
  text-align: end;
  margin-top: -40px;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  font-family: var(--default-font-family);
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}
footer .social-links a:hover {
  color: white;
  background-color: var(--branding-color);
}
.contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 20px;
  margin-left: 1px;
  margin-right: 65px;
}
footer .contact-box p {
  margin: 0;
}
footer .contact-box h4 {
  margin-top: 50px;
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}
.btn-branding-new {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 25px;
  margin-top: 50px;
}
